@import "tailwindcss";

.container{
    @apply mx-auto w-[1320px];
}

.txt-hover{
    @apply hover:text-[#2AAA94] transition;
}

.ull{
    @apply flex gap-x-4 text-[20px] text-[#1B2336];
}

.btn{
    @apply bg-gradient-to-r from-[#083F9B] to-[#7F56D9] px-6 py-2 rounded-lg;
}
.btn-hover{
    @apply hover:bg-gradiaent-to-r from-[#012d78] to-[#452d77]
}
